sudo: false
language: go
go:
  - 1.9
  - tip

script:
  - go get github.com/vektra/mockery/...
  - go get github.com/stretchr/testify
  - go get github.com/Masterminds/glide
  - glide install
  - sh generate-mocks.sh
  - go test -v ./tests
  - go test -v ./token/...